.FeaturedCourse {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 0.5px solid #bec7c7;
    justify-content: space-between;
    margin-bottom: 0.8rem;
    padding: 0.9rem;
}

.FeaturedCourse p {
    font-size: 9.5pt;
    color: #4a5656;
}

.FeaturedCourse_Img {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}

.FeaturedCourse_Info {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
    padding-left: 1rem;
}

.FeaturedCourse_EndTag {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: space-between;
    align-items: flex-end;
}

.CourseBottomInfo {
    align-items: center;
}

.CourseBottomInfo>* {
    margin-right: 0.35rem;
}

.CourseBottomInfo>*:nth-child(2) {
    margin-right: 0.7rem;
}

.CourseBottomInfo>*:last-child {
    margin-right: 0;
}

.CourseTitle {
    font-size: 12pt;
}

.PriceTxt {
    font-size: 12pt !important;
    text-align: right;
    font-weight: bold;
}

.Image__Course {
    width: 0.8rem;
}

.Image__EndTag {
    width: 1rem;
}