.FilterResults {
    width: 100%;
    font-size: 10pt;
    color: #4a5656;
}

.Header__FilterResults {
    padding: 2rem 1rem;
    border-bottom: 0.5px solid #bec7c7;
}

.FilterResults h5 {
    font-size: 11pt;
    margin-bottom: 1rem;
}

.Container__FilterResults {
    padding: 0.75rem 1rem;
    border-bottom: 0.5px solid #bec7c7;
}

.Container__FilterResults li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.Container__FilterResults input {
    margin-right: 0.5rem;
}

.FakeLink {
    font-weight: bold;
    text-decoration: underline;
    color: #00a6f1 !important;
}

.FakeLink:hover {
    cursor: pointer;
}