* {
    margin: 0;
    padding: 0;
    border: 0.5px solid rgba(255, 0, 0, 0.288);
    box-sizing: border-box;
}

.Container {
    width: 90%;
    max-width: 65rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.MainSection {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.MainSection__Filter {
    width: 25%;
}

.MainSection__Courses {
    width: 65%;
}

img {
    display: flex;
    width: 100%;
}

/* Really dont know */

.PriceTxt {
    font-size: 20pt;
    text-align: right;
}

.CourseTitle {
    font-size: 2rem;
}

.CourseDesc {
    font-size: 2rem;
}

.CourseBottomInfo {
    display: flex;
    flex-direction: row;
}

.FeaturedCourses__Container {
    display: flex;
    flex-direction: column;
}